@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700;900&family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.grid::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  --grid-color: rgb(255 0 0 / 0.2);
  --grid-sides: 25px;
  --grid-gutter: 20px;
  --grid-columns: 4;
  --grid-column-width: calc(
      (100% - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns)
  );
  border: solid transparent;
  border-width: 0 calc(var(--grid-sides) - var(--grid-gutter) / 2);
  background-image: repeating-linear-gradient(to right, transparent 0, transparent calc(var(--grid-gutter) / 2), var(--grid-color) calc(var(--grid-gutter) / 2), var(--grid-color) calc(var(--grid-column-width) + var(--grid-gutter) / 2), transparent calc(var(--grid-column-width) + var(--grid-gutter) / 2), transparent calc(var(--grid-column-width) + var(--grid-gutter)));
  background-repeat: no-repeat;
}

@media (min-width: 736px) {
  .grid::before {
    --grid-sides: 50px;
    --grid-gutter: 20px;
    --grid-columns: 5;
  }
}
@media (min-width: 997px) {
  .grid::before {
    --grid-sides: 170px;
    --grid-gutter: 20px;
    --grid-columns: 8;
  }
}
.container {
  color: #2B2D42;
}

.nav {
  font-family: "Bebas Neue", cursive;
}
.nav .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.nav .nav-list .nav-item a {
  color: #2B2D42;
}
.nav .nav-list .nav-item-about a {
  color: #DBA81A;
}

.name-tag {
  display: grid;
  font-family: "Lato", sans-serif;
}
.name-tag .name {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
.name-tag .surname {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #DBA81A;
}
.name-tag .occupation {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  color: #8D99AE;
}
.name-tag .name-tag-contact li {
  display: inline-block;
}
.name-tag .name-tag-contact .name-tag-mail {
  width: 38px;
  height: 38px;
}
.name-tag .name-tag-contact .name-tag-linked {
  width: 38px;
  height: 38px;
}
.name-tag .name-tag-contact .name-tag-google {
  width: 38px;
  height: 38px;
}
.name-tag .location {
  display: flex;
}
.name-tag .location .name-location {
  width: 38px;
  height: 38px;
}

h2 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBA81A;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
}

.about p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.programm .skills:not(:last-child) {
  margin-bottom: 30px;
}
.programm .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.programm .bar {
  position: relative;
  background-color: #8D99AE;
  border-radius: 20px;
}
.programm .bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #DBA81A;
}
.programm #python-bar {
  -webkit-animation: python-fill 2s forwards;
          animation: python-fill 2s forwards;
}
@-webkit-keyframes python-fill {
  100% {
    width: 90%;
  }
}
@keyframes python-fill {
  100% {
    width: 90%;
  }
}
.programm #pytorch-bar {
  -webkit-animation: pytorch-fill 2s forwards;
          animation: pytorch-fill 2s forwards;
}
@-webkit-keyframes pytorch-fill {
  100% {
    width: 85%;
  }
}
@keyframes pytorch-fill {
  100% {
    width: 85%;
  }
}
.programm #tensorflow-bar {
  -webkit-animation: tensorflow-fill 2s forwards;
          animation: tensorflow-fill 2s forwards;
}
@-webkit-keyframes tensorflow-fill {
  100% {
    width: 50%;
  }
}
@keyframes tensorflow-fill {
  100% {
    width: 50%;
  }
}
.programm #keras-bar {
  -webkit-animation: keras-fill 2s forwards;
          animation: keras-fill 2s forwards;
}
@-webkit-keyframes keras-fill {
  100% {
    width: 50%;
  }
}
@keyframes keras-fill {
  100% {
    width: 50%;
  }
}
.programm #matlab-bar {
  -webkit-animation: matlab-fill 2s forwards;
          animation: matlab-fill 2s forwards;
}
@-webkit-keyframes matlab-fill {
  100% {
    width: 40%;
  }
}
@keyframes matlab-fill {
  100% {
    width: 40%;
  }
}
.programm #c-bar {
  -webkit-animation: c-fill 2s forwards;
          animation: c-fill 2s forwards;
}
@-webkit-keyframes c-fill {
  100% {
    width: 25%;
  }
}
@keyframes c-fill {
  100% {
    width: 25%;
  }
}

.prog-grid {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  display: grid;
}
.prog-grid .bold {
  font-weight: 700;
}

.languages .skills:not(:last-child) {
  margin-bottom: 30px;
}
.languages .details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.languages .bar {
  position: relative;
  background-color: #8D99AE;
  border-radius: 20px;
}
.languages .bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #D90429;
}
.languages #russian-bar {
  -webkit-animation: russian-fill 2s forwards;
          animation: russian-fill 2s forwards;
}
@-webkit-keyframes russian-fill {
  100% {
    width: 100%;
  }
}
@keyframes russian-fill {
  100% {
    width: 100%;
  }
}
.languages #english-bar {
  -webkit-animation: english-fill 2s forwards;
          animation: english-fill 2s forwards;
}
@-webkit-keyframes english-fill {
  100% {
    width: 90%;
  }
}
@keyframes english-fill {
  100% {
    width: 90%;
  }
}
.languages #french-bar {
  -webkit-animation: french-fill 2s forwards;
          animation: french-fill 2s forwards;
}
@-webkit-keyframes french-fill {
  100% {
    width: 50%;
  }
}
@keyframes french-fill {
  100% {
    width: 50%;
  }
}

.lang-grid {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  display: grid;
}
.lang-grid .bold {
  font-weight: 700;
}

.soft .skills:not(:last-child) {
  margin-bottom: 30px;
}
.soft .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.soft .bar {
  position: relative;
  background-color: #8D99AE;
  border-radius: 20px;
}
.soft .bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #DBA81A;
}
.soft #presentation-bar {
  -webkit-animation: presentation-fill 2s forwards;
          animation: presentation-fill 2s forwards;
}
@-webkit-keyframes presentation-fill {
  100% {
    width: 70%;
  }
}
@keyframes presentation-fill {
  100% {
    width: 70%;
  }
}
.soft #public-bar {
  -webkit-animation: public-fill 2s forwards;
          animation: public-fill 2s forwards;
}
@-webkit-keyframes public-fill {
  100% {
    width: 70%;
  }
}
@keyframes public-fill {
  100% {
    width: 70%;
  }
}

.soft-grid {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  display: grid;
}
.soft-grid .bold {
  font-weight: 700;
}

.bottom {
  height: 190px;
  background-color: #2B2D42;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bottom p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.bottom .bottom-contact {
  display: flex;
  flex-direction: row;
}
.bottom .bottom-linked {
  width: 38px;
  height: 38px;
  filter: invert(100%) sepia(64%) saturate(2%) hue-rotate(217deg) brightness(111%) contrast(100%);
}
.bottom .bottom-google {
  width: 38px;
  height: 38px;
  color: #FFFFFF;
}

@media (min-width: 997px) {
  .container {
    margin: 0 170px;
  }
  .nav {
    font-size: 32px;
  }
  .nav .nav-item {
    padding-left: 84px;
  }
  .name-tag {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(5, -webkit-max-content);
    grid-template-rows: repeat(5, max-content);
    -moz-column-gap: 360px;
         column-gap: 360px;
    padding-top: 65px;
    padding-bottom: 110px;
  }
  .name-tag .surname {
    grid-row: 2/3;
  }
  .name-tag .occupation {
    grid-row: 3/4;
  }
  .name-tag .name-tag-contact {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  .name-tag .location {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .about {
    margin-top: 66px;
    margin-bottom: 100px;
  }
  .about p {
    margin-top: 66px;
  }
  .programm {
    margin-bottom: 100px;
  }
  .prog-grid {
    margin-top: 66px;
    grid-template-columns: minmax(50%, 50%) minmax(50%, 50%);
  }
  .languages {
    margin-bottom: 100px;
  }
  .lang-grid {
    margin-top: 66px;
    grid-template-columns: minmax(50%, 50%) minmax(50%, 50%);
    gap: 10px;
  }
  .soft {
    margin-bottom: 100px;
  }
  .soft .soft-grid {
    margin-top: 66px;
    margin-bottom: 80px;
    grid-template-columns: minmax(50%, 50%) minmax(50%, 50%);
  }
}
@media (min-width: 736px) and (max-width: 996px) {
  .container {
    margin: 0 50px;
  }
  .nav {
    font-size: 32px;
  }
  .nav .nav-item {
    padding-left: 53px;
  }
  .name-tag {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(5, -webkit-max-content);
    grid-template-rows: repeat(5, max-content);
    -moz-column-gap: 22%;
         column-gap: 22%;
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .name-tag .surname {
    grid-row: 2/3;
  }
  .name-tag .occupation {
    font-size: 24px;
    grid-row: 3/4;
  }
  .name-tag .name-tag-contact {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  .name-tag .location {
    grid-column: 1/2;
    grid-row: 5/6;
    align-items: center;
  }
  h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .about {
    margin-bottom: 100px;
  }
  .about p {
    font-size: 20px;
    margin-top: 20px;
  }
  .programm {
    margin-bottom: 100px;
  }
  .prog-grid {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    gap: 10px;
  }
  .languages {
    margin-bottom: 100px;
  }
  .lang-grid {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    gap: 10px;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
  }
  .soft {
    margin-bottom: 100px;
  }
  .soft-grid {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    gap: 10px;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
  }
}
@media (max-width: 735px) {
  .container {
    margin: 0 25px;
  }
  .nav {
    font-size: 24px;
  }
  .nav .nav-item {
    padding-left: 30px;
  }
  .name-tag {
    grid-template-rows: repeat(5, -webkit-max-content);
    grid-template-rows: repeat(5, max-content);
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .name-tag .name {
    font-size: 50px;
  }
  .name-tag .surname {
    font-size: 55px;
    grid-row: 2/3;
  }
  .name-tag .occupation {
    font-size: 22px;
    line-height: 26px;
    grid-row: 3/4;
  }
  .name-tag .name-tag-contact {
    padding-top: 15px;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .name-tag .location {
    padding-top: 15px;
    grid-row: 5/6;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .about {
    margin-bottom: 20px;
  }
  .about p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .programm {
    margin-bottom: 20px;
  }
  .prog-grid {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    gap: 10px;
  }
  .languages {
    margin-bottom: 20px;
  }
  .lang-grid {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    gap: 10px;
  }
  .soft {
    margin-bottom: 20px;
  }
  .soft-grid {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 80px;
    line-height: 22px;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    gap: 10px;
  }
}/*# sourceMappingURL=about.css.map */
